@charset "utf-8";

.container {
    margin: 0 auto;
    width: 100%;
    font-size: 0.6rem;
}

@media screen and (min-width: 576px) {
    .container {
        width: 540px;
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 720px;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

.screen {
    margin-top: 50px;
    background-color: rgb(255, 244, 224);
    position: relative;
}

.quote {
    text-align: center;
    padding: 1rem;
    font-size: 1.5em;
}

.quote-author {
    text-align: right;
    margin-top: 10px;
    font-style: italic;
}

.screen-image-container {
    position: relative;
}

.bubble {
    background: url(cloud.svg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    text-align: center;
    height: 0;

    /* ставим острие у левой границы */
    margin-right: 25%;
    margin-left: -25%;

    /* отсупы пузыря от текста */
    padding-top: 1.2em;
    padding-bottom: calc(1em + 30%);
    padding-left: 4em;
    padding-right: 4em;
}

.screen1 {
    padding-top: calc(5em);
}

.screen1-bubble-cat {
    position: absolute;
    left: 51%;
    bottom: 97.1%;
    width: auto;
    height: auto;
}

.screen1-bubble-mouse {
    position: absolute;
    transform: scaleX(-1);

    right: 41%;
    bottom: 19%;
    width: auto;
    height: auto;
}

.bubble-mirrored em {
    display: block;
    transform: scaleX(-1);
}

.screen2-grid {
    display: grid;
    grid-template-columns: 25% 25% 50%;
}

.screen2-text1 {
    /* position: absolute;   */

    left: 51%;
    bottom: 80%;
    width: auto;
    height: auto;

    font-size: 1.3em;
}